/bower_components
/coverage/
/debug.log
/nbproject
/node_modules
/npm-debug.log
/public/lib
/selenium-debug.log
/test/e2e/reports
/test/e2e/screenshots
/typings

# IntelliJ
# http://devnet.jetbrains.com/docs/DOC-1186
/.idea/**/*.xml
!/.idea/codeStyleSettings.xml
!/.idea/modules.xml
