/bower_components
/coverage/
/nbproject
/node_modules
/npm-debug.log
/public/lib
/typings
debug.log

# IntelliJ
# http://devnet.jetbrains.com/docs/DOC-1186
/.idea/**/*.xml
!/.idea/codeStyleSettings.xml
!/.idea/modules.xml
